* {
  box-sizing: border-box;
}


body {
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #6e00ff;
  color: white;
  font-family:lucida sans unicode, lucida grande, sans-serif;
}

.main {
  border: 1px solid white;
  font-weight: 100;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.showDrink {
  display: flex;
  flex-direction: column;
  align-items: center;
}

span, form {
  display: flex;
  flex-direction: column;
  align-items: center;
}


h1 {
  font-weight: bold;
  font-family: 'Oswald', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
}

img {
  width: 60%;
  length: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

input {
  width: 250px;
  padding: 10px 10px 10px 10px;
  margin: 5px;
  justify-content: center;
}

button {
  border:1px solid #9989df; border-radius: 1px;font-size:14px;font-family:lucida sans unicode, lucida grande, sans-serif; padding: 10px 10px 10px 10px; text-decoration:none; text-shadow: -2px -2px 0 rgba(0,0,0,0.3);font-weight:bold; color: #FFFFFF;
  display: flex;
  flex-direction: column;
  align-items: center;
  letter-spacing: .1rem;
  width: 250px;
  margin: 5px;
   background-color: #BFB5EB; background-image: -webkit-gradient(linear, left top, left bottom, from(#BFB5EB), to(#9174ed));
   background-image: -webkit-linear-gradient(top, #BFB5EB, #9174ed);
   background-image: -moz-linear-gradient(top, #BFB5EB, #9174ed);
   background-image: -ms-linear-gradient(top, #BFB5EB, #9174ed);
   background-image: -o-linear-gradient(top, #BFB5EB, #9174ed);
   background-image: linear-gradient(to bottom, #BFB5EB, #9174ed);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#BFB5EB, endColorstr=#9174ed);
}

button:hover {
 border:1px solid #7a65d5;
   background-color: #9c8de0; background-image: -webkit-gradient(linear, left top, left bottom, from(#9c8de0), to(#6d47e7));
   background-image: -webkit-linear-gradient(top, #9c8de0, #6d47e7);
   background-image: -moz-linear-gradient(top, #9c8de0, #6d47e7);
   background-image: -ms-linear-gradient(top, #9c8de0, #6d47e7);
   background-image: -o-linear-gradient(top, #9c8de0, #6d47e7);
   background-image: linear-gradient(to bottom, #9c8de0, #6d47e7);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#9c8de0, endColorstr=#6d47e7);
}
