* {
  box-sizing: border-box;
}

body {
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #392e67;
  color: white;
  font-family:'Fira Sans',sans-serif;
  font-size: 1em;
}

.main {
  font-weight: 100;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.showDrink {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.showRecipe {
  margin: 10%;
}

span, form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  font-weight: bold;
  font-family:'Fira Sans',sans-serif;
  text-shadow: 0 0.5em 0.5em rgba(0,0,0,0.35);
  font-size: 2.5em;
  display: flex;
  flex-direction: column;
  align-items: center;
}

a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

li {
  list-style-type: none;
}

a:hover {
  text-shadow: 1px 0 0 white;
  cursor: pointer;
}

img {
  width: 60%;
  length: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 10px;
}

.gif {
  margin: 20%;
  display: flex;
  flex-direction: column;
  align-items: center;

}

input {
  width: 250px;
  padding: 10px 10px 10px 10px;
  margin: 5px;
  justify-content: center;
  font-size: 1em;
}


button {
  margin-bottom: 5px;
  font-size: 1.3rem;
  padding: 1rem 1rem;
  background-color: #009ac9;
  border: 1px solid transparent;
  font-family:'Fira Sans',sans-serif;
  font-weight: 300;
  color: white;
  text-shadow: 0 0.08em 0.08em rgba(0,0,0,0.35);
  text-align: center;
  transition: all 0.15s;
  display: flex;
  flex-direction: column;
  align-items: center;
  letter-spacing: .1rem;
  width: 280px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

button:hover {
  background-color: #ffffff;
  color: #009ac9;
  border-color: #009ac9;
}
